{% extends 'page.html.twig' %}

{% block breadcrumbsTitle %}Booking{% endblock %}

{% block breadcrumbsLinks %}
            <li><a href="{{ path('room_booking_engine_homepage') }}">Home</a></li>
            <li><a href="#">Booking</a></li>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}



  <section id="room">
    <div class="container">
    
    
    
     <!-- START CONTENT -->
     
     
                    <div class="row">
                    
                    <div class="col-md-11 text-justify booking-item-deails-date-location">
                    
                     {% if error|length>0 %}
	     	<div class="col-md-11 text-justify booking-item-deails-date-location">
	     		<h3>Oops! something went wrong, your transaction cannot be completed. Sorry for the inconvinence.</h3>
	     	</div>	    
	     {% else %}
                    
                    
                   
                        <div id="content" class="col-md-12 col-sm-12 col-xs-12">
 							<p>Your booking has been completed successfully</p>
 							<p> check your Mail for confirmation </p>
                           
                        </div><!-- end col -->
                        {% endif %}
                    </div><!-- end row -->
                    <!-- END CONTENT --> 
    
    
    
    
    
    </div>
  </section>
  <!-- End Room -->

{% endblock %}